* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // --canvas-bg: #2e2e2e;
  --canvas-bg: #000;

  --cloud-text-color: #14cfae;
}

body {
  height: 100vh;
  background-color: var(--canvas-bg);
}

#myCanvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--canvas-bg);
  max-width: 100vw;
  max-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  div {
    margin: 10px 15px;
    text-align: right;
    font-size: 18px;
    color: #eeeeee;
  }

  a {
    color: aqua;
    font-size: 18px;
  }
}

.input-image-holder {
  display: inline-block;
  margin: 5px 5px;

  padding: 5px;
  background: silver;
  border: 1px solid #2e2e2e;

  input[type='file'] {
    display: none;
  }
}